$border: 1px solid gray;

.Board {
    margin: 20px;

    p {
        margin-bottom: 10px;
    }

    &-cells {
        width: 400px;
        height: 400px;
        border {
            top: $border;
            left: $border;
        } 
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(5, 1fr);
    }

    .item {
        border {
            right: $border;
            bottom: $border;
        }
    }
}